// Here you can add other styles
.c-sidebar-nav-item:hover, a:hover {
  background-color: rgba(33, 85, 217, 0.91) !important;
}

ul, .c-sidebar-nav {
  font-weight: bold;
}

.VueTables__search-field {
  display: flex;
}

.VueTables__search-field, label {
  margin-right: 1rem;
}

.VueTables__limit-field {
  display: flex;
  margin-left: auto;
}

.flex {
  display: flex;
}

.detailInput, .labelInput {
  margin-right: 2rem;
  max-width: 100%;
  width: 10%;
}